<div class="container-fluid px-0 px-lg-3">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 d-flex">
        <div>

        </div>
        <div class="my-2 mt-md-3 flex-fill">
          <ul class="nav row justify-content-center">
            <li class="nav-item col-6 col-md-12 text-center text-md-left">
            <%= link_to  "Feeds", 'home', class: 'nav-link active' %>
            </li>
            <li class="nav-item col-6 col-md-12 text-center text-md-left">
            <%= link_to  "Discover", 'discover', class: 'nav-link active' %>
            </li>
          </ul>
        </div>
      </div>
      <main class="col-12 col-md-9 col-xl-8 py-md-3">
        <div class="card pt-3">
          <div class="align-self-center">
            <div class="btn-group" role="group" aria-label="Mode">
              <button type="button" class="btn btn-outline-primary">Album</button>
              <button type="button" class="btn btn-primary">Photo</button>
            </div>
          </div>
          <hr>
          <div class="feed container-fluid px-0">
            <div class="row no-gutters pb-2">
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>
              <%= render  "albumpost" %>

            </div>
          </div>
        </div>
      </main>
      <div class="d-none d-xl-block py-md-3 col-xl-2">
        space-holder
      </div>
    </div>

  </div>