<% if mode == 'followers' %>
  <% follow = profile.followers %>
<% else %>
  <% follow = profile.followees %>
<% end %>
<% follow = follow.page(page).per(12) %>
<% if follow.size > 0 %>
  <div class="row px-xl-3 px-2 pb-2 follow-collection">
    <% follow.each do |a| %>
      <%= render partial: 'profiles/follow_user', locals: {src: a} %>
    <% end %>
  </div>
  <div class="row justify-content-center d-flex ">
    <div id="infinite-scrolling-profile" data-mode="<%= mode %>">
      <%= paginate follow %>
    </div>
  </div>
<% else %>
  <% if mode == 'followers' %>
    <%= render partial: 'no_content_notice', locals: {notice: t("no-followers-notice")} %>
  <% else %>
    <%= render partial: 'no_content_notice', locals: {notice: t("no-followees-notice")} %>
  <% end %>
<% end %>