<main class="col-12 col-md-9 col-xl-8 py-md-3">
  <div class="card pt-3">
    <div class="row my-md-2">
      <div class="col-12 col-sm-auto ml-sm-3 ml-md-4 d-flex justify-content-center">
        <% if profile.avatar.url %>
          <%= image_tag  profile.avatar.thumb.url, class: "myprofile-avatar", 'data-id': profile.id %>
        <% else %>
          <%= image_tag  "dummy-profile.png", class: "myprofile-avatar", 'data-id': profile.id %>
        <% end %>
      </div>
      <div class="col align-items-center d-flex">
        <div class="w-100 pt-3 p-sm-0 ">
          <% is_current_user = profile == current_user %>
          <div class="d-sm-block d-flex justify-content-center">
            <% if is_current_user %>
              <button class="badge badge-pill btn-outline-primary btn-badge-border" id="editprofile">
                <%= t(:editprofile) %>
              </button>
            <% elsif current_user.followees.pluck(:id).exclude? profile.id %>
              <div class="button-container">
                <button class="badge-mini badge-pill btn-outline-primary btn-badge-border"
                data-id="<%= profile.id%>"  id="follow"><%= t(:follow) %></button>
              </div>
            <% else %>
              <div class="button-container">
                <button class="badge-mini badge-pill btn-outline-primary btn-badge-border active"
                data-id="<%= profile.id%>"  id="unfollow"><%= t(:unfollow) %></button>
              </div>
            <% end %>
          </div>
          <div class="h1 mt-2 d-sm-block text-center text-sm-left px-2">
            <%= "#{profile.first_name.capitalize} #{profile.last_name.capitalize}" %>
          </div>
          <div class="row no-gutters h4 menu">
            <div class="col-md-auto col-12 justify-content-center">
              <div class="text-center text-sm-left text-secondary">
                <a class="text-primary h5 pr-2 btn-photo btn-click"> <span class="h4">
                  <%= photos_size = profile.photos.size %>
                </span> <%= photos_size != 1 ? t(:photo).pluralize : t(:photo) %></a>
                <a class="h5 pr-2 btn-album btn-click"><span class="h4">
                  <%= albums_size = profile.albums.size %>
                </span> <%= albums_size != 1 ? t(:album).pluralize : t(:album) %></a>
              </div>
            </div>
            <div class="col-md-auto col-12 pl-lg-2">
              <div class="text-center text-sm-left text-secondary">
                <a class="h5 pr-2 btn-follower btn-click"> <span class="h4">
                  <%= followers_size = profile.followers.size %>
                </span> <%= followers_size != 1 ? t(:follower).pluralize : t(:follower) %></a>
                <a class="h5 pr-2 btn-followee btn-click"> <span class="h4">
                  <%= followees_size = profile.followees.size %>
                </span> <%= followees_size != 1 ? t(:follower).pluralize : t(:follower) %></a>
              </div>
            </div>
          </div>
            <% if is_current_user %>
              <%=link_to new_photo_path do%>
              <div class="btn-add-photo badge-medium badge-pill btn-primary">
                <i class="fa fa-plus"> </i> <span><%= t("new-photo") %></span>
              </div>
              <% end %>
              <%=link_to new_album_path do%>
              <div class="btn-add-album badge-medium badge-pill btn-primary">
                <i class="fa fa-plus"> </i> <span><%= t("new-album") %></span>
              </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

    <hr>
    <div class="collection container-fluid">
      <% photos_private = is_current_user ? profile.photos : profile.photos.public_photos %>
      <% if photos_private.size > 0 %>
      <div class="row px-1 pb-2 photo-collection">
          <% photos_private.each do |i| %>
            <%= render partial: 'profiles/imgholder', locals: {mode: 'photo', src: i, edit: is_current_user} %>
          <% end %>
        </div>
      <% else %>
        <%= render partial: 'nocontentnotice', locals: {notice: t("no-photos-notice")} %>
      <% end %>
    </div>
  </div>
</main>
<%= render  "feeds/modal" %>