<div class="col-12 col-lg-6 p-2">
  <div class="card shadow-sm">
    <div class="row no-gutters">
      <div class="col-xl-6 col-12 pr-xl-0 img-section">
        <div class="thumbnail-feed">
            <div class="h-100 d-flex flex-wrap justify-content-center">
          <% if mode == 'photo' %>
              <% begin %>
                <% unless src == 'nil' %>
                  <%= image_tag src.img.thumb.url, class: 'img-fit img-photo', 'data-id': src.id%>
                <% end
              rescue => exception %>
              <%= image_tag  "dummy-photo.jpg", class: 'img-fit img-photo'%>
              <% end %>
          <% else %>
              <% begin %>
                <% unless src == 'nil' %>
                  <% src.photos.each_with_index do |img,idx| %>
                    <% break if idx > 2 %>
                    <%= image_tag img.img.album_thumb.url, class: "img-fluid img-thumbnail shadow-sm img-above-#{2-idx}", 'data-id': src.id%>
                  <% end %>
                <% end
              rescue => exception %>
                <%= image_tag  "dummy-photo.jpg", class: 'img-fluid img-thumbnail shadow-sm img-above-2'%>
                <%= image_tag  "dummy-photo.jpg", class: 'img-fluid img-thumbnail shadow-sm img-above-1'%>
                <%= image_tag  "dummy-photo.jpg", class: 'img-fluid img-thumbnail shadow-sm img-above-0'%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-12 pt-2 pl-xl-0">
        <div class="thumbnail-desc">
          <div class="d-flex flex-column h-100 pl-2">
            <p class="h3 title">
              <% begin %>
                <% unless src == 'nil' %>
                  <%= src.title %>
                <% end
              rescue => exception %>
              <%= t :title %>
              <% end %>
            </p>
            <% begin %>
              <% author = src.imageable.user %>
            <% rescue => exception %>
              <% if mode == 'photo' %>
                <% author = src.imageable %>
              <% else %>
                <% author = src.user %>
              <% end %>
            <% end %>
            <div class="mb-2">
            <% unless author == current_user %>
              <% discover = current_page?(discover_path) || current_page?(load_discover_path) %>
              <% if !current_user.nil? && discover %>
                <% if current_user.followees.pluck(:id).exclude? author.id %>
                <button class="badge badge-pill btn-outline-primary btn-badge-border pull-right small mr-2"
                data-id="<%= author.id%>" id="follow-group"><%= t :follow %></button>
                <% else %>
                <button class="badge badge-pill btn-outline-primary btn-badge-border pull-right small mr-2 active"
                data-id="<%= author.id%>" id="unfollow-group"><%= t :unfollow %></button>
                <% end %>
              <% end %>
            <% end %>
            <span class="text-primary">
              <%= link_to "#{author.first_name} #{author.last_name}", profile_path(author)%>
            </span>
            </div>
            <div class="flex-xl-grow-1 desc mb-5">
              <p class="text-secondary">
                <%= src.desc %>
              </p>
            </div>
            <div class="interactive-bar">
              <div class="align-content-center d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="heart-animation<%= " heart-on" if current_user.nil? ? false : src.likes.include?(current_user.id) %>"
                  data-id="<%= src.id %>" data-mode="<%= mode %>" data-guest="<%= "#{current_user.nil?}" %>"></div>
                  <div class="text-secondary small"><%= src.likes.size %></div>
                </div>
                <div class="mr-4 text-secondary small"><%= src.created_at.strftime("%Y-%m-%d %H:%M:%S")%></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-12">
      </div>

    </div>
  </div>
</div>