<main class="col-12 col-md-9 col-xl-8 py-md-3">
  <div class="card pt-3">
    <p class="h5 mb-0 px-3">
      <%= t('.title') %>
    </p>
    <hr>
    <div class="d-flex justify-content-center px-3">
      <div class="edit-form flex-grow-1">
      <% url = current_page?(admin_edit_photo_path) ? admin_update_photo_path : photo_path %>
      <%= form_with model: @photo,url: url, html: { multipart: true }, local: true, id: 'photo-upload', class: 'form-group' do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <div>
              <%= f.label :title, t('.f-title'),class: "font-weight-bold" %><br>
              <%= f.text_field :title, class: "form-control" %>
              <div class="error-notice">
                <label id="photo_title-error" class="error text-danger text-small" for="photo_title"></label>
              </div>
            </div>
            <div>
              <%= f.label :private, t('.f-sharing'), class: "font-weight-bold" %><br>
              <%= f.select :private, [[ t('.f-private'),'true'], [ t('.f-public'),'false']],{ include_blank: false }, {class: 'custom-select col-auto'} %>
              <div class="error-notice">
                <label id="photo_private-error" class="error text-danger text-small" for="photo_private"></label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <%= f.label :desc,  t('.f-desc') %><br>
            <%= f.text_area :desc, class: "form-control form-photo-desc" %>
            <div class="error-notice">
              <label id="photo_desc-error" class="error text-danger text-small" for="photo_desc"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.label :img, t('.f-upl-photo'), class: "font-weight-bold my-3" %>
            <% if mode == "edit" %>
              <div class="photo-upload">
                <%= image_tag  @photo.img.url, class: 'photo-upload img-fit', 'data-id': "#{@photo.id}" %>
              </div>
            <% else %>
              <div class="photo-upload btn-click">
                <div class="p-3 photo-upload-border h-100 d-flex justify-content-center align-items-center rounded-lg">
                  <div class="photo-upload-btn">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </div>

            <% end %>
            <%= f.file_field :img, class: 'd-none', id: 'new-photo'%>
            <div class="mt-3">
              <% if mode == "edit" %>
                <%= f.submit t('.f-update'), id: 'new-photo-submit', class: 'btn btn-success', 'data-mode':"edit" %>
                <%= link_to photo_path(@photo), method: :delete, data: {confirm: t('.f-delete-message')} do %>
                  <div class="btn btn-danger">
                    <%= t('.f-delete') %>
                  </div>
                <% end %>
              <% else %>
                <%= f.submit t('.f-create'), id: 'new-photo-submit', class: 'btn btn-success', 'data-mode':"new"%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</main>