<main class="col-12 col-md-9 col-xl-8 py-md-3">
  <div class="card pt-3">
    <p class="h5 mb-0 px-3">
      <%= t(".title") %>
    </p>
    <hr>
    <div class="d-flex justify-content-center px-3">
      <div class="edit-form flex-grow-1">
        <%= form_with model: @user, html: { multipart: true }, url: admin_updateavtuser_path(@user), local: true, id: 'user-profile-picture' do |f| %>
        <div class="form-group row">
          <%= f.label :profile_photo, t(".profile-photo"), class: "col-sm-4 col-form-label text-right font-weight-bold align-self-center" %>
          <div class="col-sm-8">
            <div>
              <div class="img-uploader">
                <% if @user.avatar.url %>
                <%= image_tag  @user.avatar.thumb.url, class: 'editprofile-avatar img-fit' %>
                <% else %>
                <%= image_tag dummy_avatar(@user), class: 'editprofile-avatar img-fit' %>
                <% end %>
                <div class="img-uploader-over d-flex justify-content-center">
                  <div class="badge badge-pill btn-outline-primary btn-badge-border btn-click" id="btn-file">
                    <%= t(".upl-avatar") %>
                  </div>
                </div>
              </div>
              <%= f.file_field :avatar, accept: "imaged/jpeg, image/png, image/gif", class:"d-none", id: 'new-file' %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8 offset-sm-4">
            <button id="avatar-submit" type="submit" class="btn btn-primary"> <%= t(".save") %></button>
          </div>
        </div>
        <% end %>
        <%= form_with model: @user, url: admin_updateuser_path(@user), local: true, class: 'mt-5', id: 'user-info-form' do |f| %>
        <div class="form-group row">
          <div class="col-sm-8 offset-sm-4">
            <span class="h5 text-primary">
              <%= t(".user-info") %>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :first_name, t(".first-name"), class: "col-sm-4 col-form-label text-right font-weight-bold" %>
          <div class="col-sm-8">
            <%= f.text_field :first_name, class: "form-control" %>
            <div class="error-notice">
              <label id="user_first_name-error" class="error text-danger text-small" for="user_first_name"></label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :last_name, t(".last-name"), class: "col-sm-4 col-form-label text-right font-weight-bold" %>
          <div class="col-sm-8">
            <%= f.text_field :last_name, class: "form-control" %>
            <div class="error-notice">
              <label id="user_last_name-error" class="error text-danger text-small" for="user_last_name"></label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :email, t(".email"), class: "col-sm-4 col-form-label text-right font-weight-bold" %>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control" %>
            <div class="error-notice">
              <label id="user_email-error" class="error text-danger text-small" for="user_email"></label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :password, t(".password"), class: "col-sm-4 col-form-label text-right font-weight-bold" %>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control" %>
            <div class="error-notice">
              <label id="user_password-error" class="error text-danger text-small" for="user_password"></label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8 offset-sm-4">
              <div class="custom-control custom-checkbox mb-2">
                <%= f.check_box :blocked, class: "custom-control-input" %>
                <%= f.label :blocked, class: "custom-control-label" %>
              </div>
            <div class="error-notice">
              <label id="user_blocked-error" class="error text-danger text-small" for="user_blocked"></label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8 offset-sm-4">
            <button type="submit" class="btn btn-primary"><%= t(".save") %></button>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</main>