<!DOCTYPE html>
<html>

<head>
  <title>Fotobook</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid signup-bg">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-4 d-flex">
      </div>
      <main class="col-12 col-md-6 col-xl-4 py-3 signup-ctn">

        <div class="d-flex align-items-center h-100">
          <div class="w-100">
            <div class="text-center">
              <div class="h1 text-white pb-3">
                Fotobook
              </div>
            </div>

            <div class="signup-form card py-3 container-fluid ">
              <%= yield %>
            </div>
          </div>

        </div>
    </div>
    </main>
    <div class="col-12 col-md-3 col-xl-4">
    </div>
  </div>

</body>

</html>